{% extends 'global/base.html' %} {% load static %} {% block title %} Dashboard
{% endblock %} {% block style %}
<style></style>
{% endblock %} {% block content %}

<h1>DASHBOARD</h1>

<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body text-center">
        <div class="text-primary mb-4">
          <i class="mdi mdi-account-multiple mdi-36px"></i>
          <p class="font-weight-medium mt-2">Usuarios activos</p>
        </div>
        <h1 class="font-weight-light">45679</h1>
        <p class="text-muted mb-0">Incremento del 20%</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body text-center">
        <div class="text-danger mb-4">
          <i class="mdi mdi-chart-pie mdi-36px"></i>
          <p class="font-weight-medium mt-2">Reportes realizados el último mes</p>
        </div>
        <h1 class="font-weight-light">809</h1>
        <p class="text-muted mb-0">Ingremento del 60%</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body text-center">
        <div class="text-info mb-4">
          <i class="mdi mdi-car mdi-36px"></i>
          <p class="font-weight-medium mt-2">Baches reparados el último mes</p>
        </div>
        <h1 class="font-weight-light">150</h1>
        <p class="text-muted mb-0">Incremento del 2%</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ultimas 5 entradas</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Quien reporta</th>
                <th>Coordenadas</th>
                <th>Fecha de reporte</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Juan Perez Rodiguez</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/14%C2%B051'28.5%22N+91%C2%B030'43.0%22W/@14.85707,-91.510996,16.5z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d14.8579206!4d-91.5119367"
                    >Ver coordenadas</a
                  >
                </td>
                <td>2018-12-19 09:26:03 AM</td>
                <td>
                  Se encuentra en una calle transitada por lo que representa un
                  gran peligro para los automovies
                </td>
                <td>
                  <a href="#" class="btn btn-success btn-rounded btn-fw"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
              <tr>
                <td>Juan Perez Rodiguez</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/14%C2%B051'28.5%22N+91%C2%B030'43.0%22W/@14.85707,-91.510996,16.5z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d14.8579206!4d-91.5119367"
                    >Ver coordenadas</a
                  >
                </td>
                <td>2018-12-19 09:26:03 AM</td>
                <td>
                  Se encuentra en una calle transitada por lo que representa un
                  gran peligro para los automovies
                </td>
                <td>
                  <a href="#" class="btn btn-success btn-rounded btn-fw"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
              <tr>
                <td>Juan Perez Rodiguez</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/14%C2%B051'28.5%22N+91%C2%B030'43.0%22W/@14.85707,-91.510996,16.5z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d14.8579206!4d-91.5119367"
                    >Ver coordenadas</a
                  >
                </td>
                <td>2018-12-19 09:26:03 AM</td>
                <td>
                  Se encuentra en una calle transitada por lo que representa un
                  gran peligro para los automovies
                </td>
                <td>
                  <a href="#" class="btn btn-success btn-rounded btn-fw"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
              <tr>
                <td>Juan Perez Rodiguez</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/14%C2%B051'28.5%22N+91%C2%B030'43.0%22W/@14.85707,-91.510996,16.5z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d14.8579206!4d-91.5119367"
                    >Ver coordenadas</a
                  >
                </td>
                <td>2018-12-19 09:26:03 AM</td>
                <td>
                  Se encuentra en una calle transitada por lo que representa un
                  gran peligro para los automovies
                </td>
                <td>
                  <a href="#" class="btn btn-success btn-rounded btn-fw"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
              <tr>
                <td>Juan Perez Rodiguez</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/place/14%C2%B051'28.5%22N+91%C2%B030'43.0%22W/@14.85707,-91.510996,16.5z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d14.8579206!4d-91.5119367"
                    >Ver coordenadas</a
                  >
                </td>
                <td>2018-12-19 09:26:03 AM</td>
                <td>
                  Se encuentra en una calle transitada por lo que representa un
                  gran peligro para los automovies
                </td>
                <td>
                  <a href="#" class="btn btn-success btn-rounded btn-fw"
                    >Ver Detalle</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %} {% endblock %}
