{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{% static 'global/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'global/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/addons.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/my_styles.css' %}" />

    {% block style %} {% endblock %}
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_horizontal-navbar.html -->
      {% include 'global/components/horizontal_menu.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %} {% endblock %}
            <!-- partial:partials/_footer.html -->
            {% include 'global/components/footer.html' %}
            <!-- partial -->
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% include 'global/components/modal.html' %}
    <script src="{% static 'global/js/base.js' %}"></script>
    <script src="{% static 'global/js/addons.js' %}"></script>
    <script src="{% static 'global/plugins/js/axios.min.js' %}"></script>
    <script src="{% static 'global/js/http.js' %}"></script>
    <script src="{% static 'global/js/helpers.js' %}"></script>
    <script src="{% static 'global/js/scripts.js' %}"></script>

    <script src="{% static 'global/plugins/js/off-canvas.js' %} "></script>
    <script src="{% static 'global/plugins/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'global/plugins/js/template.js' %}"></script>
    <script src="{% static 'global/plugins/js/settings.js' %}"></script>
    <script src="{% static 'global/plugins/js/formpickers.js' %}"></script>
    <script src="{% static 'global/plugins/js/toastDemo.js' %}"></script>
    <script src="{% static 'global/plugins/js/alerts.js' %}"></script>
    <script src="{% static 'global/plugins/js/tooltips.js' %}"></script>
    <script src="{% static 'global/plugins/js/popover.js' %}"></script>
    <script src="{% static 'global/plugins/js/chart.js' %}"></script>
    <script src="{% static 'global/plugins/js/select2.js' %}"></script>
    <script>
      const modalTitle = document.getElementById("modal-title");
      const modalBody = document.getElementById("modal-body");
      const modalFooter = document.getElementById("modal-footer");
    </script>
    <script>
      (function ($) {
        "use strict";
        $(".dropify").dropify();
      })(jQuery);
      const handleSubmit = () => {
        showAlert("success-message", {
          title: "Correcto!",
          text: "Tus datos han sido guardados correctamente!",
        });
        setTimeout(function () {
          location.href = "/";
        }, 2000);
      };
    </script>
    {% csrf_token %} {% block js %}{% endblock %}
  </body>
</html>
